/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
body{
  min-height: 10vh;
  background-color: #000;
  background-size: cover;
  background-position: center;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar{
  background: rgba(255, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
::-webkit-scrollbar {
  width: 10px;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
::-webkit-scrollbar-track {
  background: #ff0000;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
::-webkit-scrollbar-thumb {
  background: #000000;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .cartão-inicial img{
  margin: 20px 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .cartão-inicial p{
  font-weight: 700;
  margin-bottom: 10px;
  color: #000000;
  text-shadow: 2px 2px 2px #ff0000;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar.active{
  left: 0;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .menu{
  width: 100%;
  margin-top: 40px;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .menu .item{
  position: relative;
  cursor: pointer;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .menu .item a{
  color: #000000;
  text-shadow: 2px 2px 2px #ff0000;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 30px;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .menu .item a:hover{
  background: #000000;
  transition: 0.3s ease;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .menu .item i{
  margin-right: 15px;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 10px;
  transition: 0.3s ease;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .menu .item .sub-menu{
  background: rgba(255, 255, 255, 0.1);
  display: none;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.side-bar .menu .item .sub-menu a{
   padding-left: 80px;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.rotate{
  transform: rotate(90deg);
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.menu-btn{
  position: absolute;
  font-size: 20px;
  margin: 25px;
  cursor: pointer;
  color: #000000;
  text-shadow: 2px 2px 2px #ff0000;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
a:link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.fundo-luc4rio-rest-api {
  background-image: url("https://i.ibb.co/tL5Bqyr/lucasssmods-github-io.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  overflow-x: hidden
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
#cartão-luc4rio-rest-api {
  top: 10px;
  border-color: #ff0000;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
  margin : 10px;
  right: 0;
  position: absolute;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
.cartão-luc4rio-rest-api {
  width: 200px;
  height: 125px;
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: transparent !important;
  border-radius: 5px;
}
/*!
<!--Deseja Comprar O Template Do Site?? Chame No Número: +55 (17) 98805-9041, Não Se Esqueça Que Nosso Site Tem Copyright, Então Não Queira Tentar Copiar hahahahaha ^_^--!>
*/
